.heroSmall{
  @include flexColumn;
  @include maxWidth1200;
  height: 25vh;
  padding: 24px;
  margin-top: 95.5px;

  & h1{
        margin-top: auto;
        animation-duration: 2s;
        animation-name: slide;
      }
}

.bio, .download{
  @include flexColumn;
  @include maxWidth1200;
}

.cardBio{
  display: flex;
  justify-content: center;
  height: 500px;

  & article{
    @include flexColumn;
    justify-content: center;
    width: 40%;

    & h2, p{
      padding: 16px;
      margin-bottom: 16px;
    }
  }

  & .imgContainer{
      display: flex;
      justify-content: center;
      height: 500px;
      width: 60%;
      overflow: hidden;

      & img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
      }
    }
}

.who{
  @include flexColumn;
  @include maxWidth1200;
  height: 500px;
  justify-content: center;
  align-content: center;

  & h2, p{
    padding: 16px;
    margin-bottom: 16px;
  }
}

.download{
  @include maxWidth1200;
  @include center;
  height: 100px;
}

@media only screen and (max-width: $breakpoint) {
  .cardBio{
    flex-direction: column-reverse;

    & article{
      width: 100%;
      margin-bottom: 16px;

      & h2, p{
        padding: 16px 16px 0 16px;
        margin: 0;
      }
    }

    & .imgContainer{
      width: 100%;

      & img{
        height: auto;
      }
    }
  }
}
