.form{
  @include flexColumn;
  @include maxWidth1200;
  padding: 24px;
}

fieldset {
  max-width: 430px;
  margin: 0 auto;
  @include flexColumn;
  border: none;
}

.form label{
  margin: 8px 0;
  display: inline-block;
}

input[type=text], input[type=email], textarea{
  @include center;
  margin: 8px 0;
  padding: 16px;
  cursor: pointer;
  border: 2px solid $gray;
  transition: 0.5s;
  background-color: $dark;
  color: $mid;
  font-family: 'Heebo', sans-sans-serif;
  resize: none;

  &:hover{
    color: $light;
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), rgba(255,0,185,1), rgba(0,219,255,1), rgba(255,0,185,1)) 1;
    animation: 2s rotate linear infinite;
    }

  &:focus{
    border: 1px solid $gray;
  }
}

input[type=submit]{
  @include center;
  margin: 16px 0;
  padding: 16px;
  cursor: pointer;
  border: 2px solid $light;
  transition: 0.5s;
  background-color: $dark;
  color: $mid;

  &:hover{
    color: $light;
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), rgba(255,0,185,1), rgba(0,219,255,1), rgba(255,0,185,1)) 1;
    animation: 2s rotate linear infinite;
    }
  }
