a.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
  cursor: pointer;
  border: 2px solid $light;
  transition: 0.5s;
  color: $mid;

  &:hover{
  color: $light;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), rgba(255,0,185,1), rgba(0,219,255,1), rgba(255,0,185,1)) 1;
  animation: 2s rotate linear infinite;
  }
}


@keyframes rotate {
to {
  --angle: 360deg;
}
}

@property --angle {
syntax: '<angle>';
initial-value: 0deg;
inherits: false;
}

.modal{
  z-index: 99999;
  background-color: $overlay;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  @include center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;

  & .modalContainer{
    background-color: $dark;
    color: $light;
    max-width: 500px;
    text-align: center;
    padding: 32px 48px;
    box-shadow: 0 2px 4px $overlay;
    border-radius: 16px;

    & div{
      @include center;
      margin-top: 16px;
      padding: 16px;
      cursor: pointer;
      border: 2px solid $light;
      transition: 0.5s;
      background-color: $dark;
      color: $mid;

      &:hover{
        color: $light;
        --angle: 0deg;
        border-image: conic-gradient(from var(--angle), rgba(255,0,185,1), rgba(0,219,255,1), rgba(255,0,185,1)) 1;
        animation: 2s rotate linear infinite;
        }
    }
  }
}

.showModal{
  opacity: 1;
  pointer-events: auto;
}
