@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 62.5%;
}

body {
  font-family: 'Heebo', sans-sans-serif;
  background-color: #1C1D21;
  color: snow;
}

body a {
  text-decoration: none;
  color: snow;
  font-size: 1.8rem;
}

h1 {
  font-size: 7.5rem;
  font-weight: 600;
}

h2 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
}

p, label, textarea, input {
  font-size: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 850px) {
  body a {
    text-decoration: none;
    color: snow;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.1;
    padding-bottom: 16px;
  }
  h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.1;
  }
  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;
  }
  p, label, textarea, input {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.bold {
  font-weight: 600;
}

@keyframes navOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #1C1D21;
  padding: 32px;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navContainer a img {
  display: flex;
  width: 100px;
  align-self: center;
  flex: 50%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 50%;
  user-select: none;
  border: none;
  outline: none;
  background: none;
  z-index: 1;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background-color: snow;
  border-radius: 2px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.5s;
}

.hamburger.isActive span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.isActive span:nth-child(2) {
  opacity: 0;
}

.hamburger.isActive span:nth-child(3) {
  transform: translate(-2px, 3px) rotate(-45deg);
}

.navMenu {
  display: none;
}

.isVisible {
  flex: 100%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  text-align: center;
  padding-bottom: 32px;
}

.isVisible a {
  animation-duration: 1.5s;
  animation-name: navOpacity;
  color: #9e9e9e;
  margin: auto;
  font-size: 2rem;
}

.isVisible a.isActive {
  color: snow;
}

@media only screen and (min-width: 850px) {
  nav {
    padding: 32px 16px 32px 32px;
  }
  .hamburger {
    display: none;
  }
  .navMenuDesktop {
    display: flex;
    flex-direction: row;
    flex: 50%;
    justify-content: flex-end;
    height: auto;
    padding-bottom: 0;
    text-align: left;
  }
  .navMenuDesktop a {
    font-size: 1.8rem;
    padding: 0 16px;
    color: #9e9e9e;
    transition: 0.5s;
    margin: 0;
  }
  .navMenuDesktop a:hover, .navMenuDesktop a.isActive {
    color: snow;
  }
}

footer {
  padding: 0 32px 32px 32px;
}

footer div.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div.footerContainer div.links {
  display: flex;
  flex-direction: row;
}

footer div.footerContainer div.links a {
  display: flex;
  align-items: center;
}

footer div.footerContainer div.links a img {
  height: 16px;
  padding-right: 32px;
}

footer div.CTA {
  max-width: 600px;
  margin: 0 auto;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer div.CTA i {
  padding-left: 12px;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
  cursor: pointer;
  border: 2px solid snow;
  transition: 0.5s;
  color: #d1d1d1;
}

a.button:hover {
  color: snow;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), #ff00b9, #00dbff, #ff00b9) 1;
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.modal {
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.modal .modalContainer {
  background-color: #1C1D21;
  color: snow;
  max-width: 500px;
  text-align: center;
  padding: 32px 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
}

.modal .modalContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 16px;
  cursor: pointer;
  border: 2px solid snow;
  transition: 0.5s;
  background-color: #1C1D21;
  color: #d1d1d1;
}

.modal .modalContainer div:hover {
  color: snow;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), #ff00b9, #00dbff, #ff00b9) 1;
  animation: 2s rotate linear infinite;
}

.showModal {
  opacity: 1;
  pointer-events: auto;
}

@keyframes slide {
  0% {
    transform: translate(-1000px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(85vh + 95.5px);
}

.hero .text {
  margin-top: auto;
  padding: 0 24px 32px 24px;
}

.hero .text h1, .hero .text p {
  animation-duration: 2s;
  animation-name: slide;
}

.delay {
  animation-delay: 0.3s;
}

#sketchDiv {
  display: block;
  position: absolute;
  top: 95.5px;
  z-index: -999;
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  height: 600px;
}

.card article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.card article h2, .card article p, .card article a {
  padding: 16px;
  margin-bottom: 16px;
}

.card article a {
  display: flex;
  align-items: center;
  color: #d1d1d1;
  transition: 0.5s;
}

.card article a:hover {
  color: snow;
  transform: translate(15px, 0);
}

.card article i {
  padding-left: 12px;
}

.card .imgContainer {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 65%;
  overflow: hidden;
}

.card .imgContainer img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.cardReverse {
  flex-direction: row-reverse;
}

.cardReverse article h2, .cardReverse article p, .cardReverse article a {
  padding-left: 32px;
}

@media only screen and (max-width: 850px) {
  #sketchDiv {
    display: none;
  }
  .card {
    flex-direction: column-reverse;
  }
  .card article {
    width: 100%;
    margin-bottom: 16px;
  }
  .card article h2, .card article p, .card article a {
    padding: 16px 16px 0 16px;
    margin: 0;
  }
  .card .imgContainer {
    width: 100%;
  }
  .card .imgContainer img {
    height: auto;
  }
  .cardReverse {
    flex-direction: column-reverse;
  }
}

.arGallery {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 95.5px;
}

.arCard {
  flex: 0 1 298px;
  border: 1px solid #1C1D21;
}

.arCard div.arContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 500px;
}

.arCard div.arContainer img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-content: space-betwee;
  padding: 16px;
}

.textContainer h3, .textContainer p, .textContainer a {
  margin-bottom: 4px;
}

.textContainer a {
  display: flex;
  align-items: center;
  color: #d1d1d1;
  transition: 0.5s;
}

.textContainer a:hover {
  color: snow;
  transform: translate(15px, 0);
}

.textContainer i {
  padding-left: 12px;
}

.genartGallery {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 95.5px;
}

.genartContainer {
  flex: 0 1 298px;
  border: 1px solid #1C1D21;
  display: flex;
  overflow: hidden;
  height: 298px;
}

.genartContainer img {
  width: 100%;
  height: 298px;
  object-fit: cover;
  object-position: center;
}

.genartContainer .overlay {
  width: 298px;
  height: 298px;
  margin-top: auto;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.genartContainer .overlay:hover {
  opacity: 1;
}

.heroSmall {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 25vh;
  padding: 24px;
  margin-top: 95.5px;
}

.heroSmall h1 {
  margin-top: auto;
  animation-duration: 2s;
  animation-name: slide;
}

.bio, .download {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.cardBio {
  display: flex;
  justify-content: center;
  height: 500px;
}

.cardBio article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.cardBio article h2, .cardBio article p {
  padding: 16px;
  margin-bottom: 16px;
}

.cardBio .imgContainer {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 60%;
  overflow: hidden;
}

.cardBio .imgContainer img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.who {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 500px;
  justify-content: center;
  align-content: center;
}

.who h2, .who p {
  padding: 16px;
  margin-bottom: 16px;
}

.download {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

@media only screen and (max-width: 850px) {
  .cardBio {
    flex-direction: column-reverse;
  }
  .cardBio article {
    width: 100%;
    margin-bottom: 16px;
  }
  .cardBio article h2, .cardBio article p {
    padding: 16px 16px 0 16px;
    margin: 0;
  }
  .cardBio .imgContainer {
    width: 100%;
  }
  .cardBio .imgContainer img {
    height: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

fieldset {
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: none;
}

.form label {
  margin: 8px 0;
  display: inline-block;
}

input[type=text], input[type=email], textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  padding: 16px;
  cursor: pointer;
  border: 2px solid #9e9e9e;
  transition: 0.5s;
  background-color: #1C1D21;
  color: #d1d1d1;
  font-family: 'Heebo', sans-sans-serif;
  resize: none;
}

input[type=text]:hover, input[type=email]:hover, textarea:hover {
  color: snow;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), #ff00b9, #00dbff, #ff00b9) 1;
  animation: 2s rotate linear infinite;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 1px solid #9e9e9e;
}

input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
  cursor: pointer;
  border: 2px solid snow;
  transition: 0.5s;
  background-color: #1C1D21;
  color: #d1d1d1;
}

input[type=submit]:hover {
  color: snow;
  --angle: 0deg;
  border-image: conic-gradient(from var(--angle), #ff00b9, #00dbff, #ff00b9) 1;
  animation: 2s rotate linear infinite;
}
